@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles go here */
.text-edge-outline {
  background-clip: text;
  line-height: 1.2; /* Adjust this value as needed */
  padding-bottom: 0.1em; /* This helps to ensure the descenders are covered */
}

.animate-title {
  /* Your animation properties here */
}


@keyframes wobble {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .nav-link {
    font-family: 'Roboto', Arial, sans-serif; /* Futuristic yet formal font */
    letter-spacing: 0.05em; /* Slightly increased letter spacing */
    font-weight: 500; /* Medium font weight */
    position: relative;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: white;
    background-color: transparent;
    transition: color 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    padding: 0.3rem 0.5rem;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #1DB954; /* Green color */
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
  }
  
  .nav-link:hover::after, .nav-link:focus::after, .nav-link.active::after {
    transform: scaleX(1);
    animation: wobble 0.5s ease-in-out;
  }
  


@media (max-width: 768px) {
  .nav-link {
    font-size: 0.7rem; /* Smaller font size for mobile */
    padding: 0.2rem 0.4rem; /* Reduced padding for mobile */
  }
}


